cypress/videos
node_modules
report
cypress/screenshots
cypress/fixtures/newUserSignUp!
/cypress/fixtures/sn/filteredPatient.json
/cypress/fixtures/ziCovid19German/filteredPatient.json
/dist/
.idea
/cypress-screenshots/
downloads
package-lock.json
/cypress/fixtures/patientsData.json
/cypress/fixtures/clinicianAdminData.json
/cypress/fixtures/transientTestData/config/transientConfig.json
